/* 
=======================================================
Lemon CSS

Released for OSWD and OWD.
Coded by Anthony Yeung (http://smallpark.org)
May 24 2005
It would be nice if you could leave this here, thanks.
=======================================================
*/

html,body {
	margin:0;
	padding:0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	text-align:center;
	margin-top: 20px;
}

div#content a, div#extra a, div#sidebar a {
	color: #FFBA27;
	font-weight: bold;
	text-decoration: none;
	background-color: #FAFAFA; 
	border-bottom: 1px solid #F1F1F1; 
	border-right: 1px solid #F1F1F1;
	padding: 1px;
}

div#content a:hover , div#extra a:hover, div#sidebar a:hover {
	color: #FFBA27;
	font-weight: bold;
	text-decoration: none;
	background-color: #FAFAFA; 
	border-bottom: 1px solid #CCC; 
	border-right: 1px solid #CCC;
	padding: 1px;
}

div#header {
	padding-bottom: 5px;
	border-bottom: 1px solid #EEE;
}

div#header h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 35px;
	font-weight: normal;
	color: #FFBA27;
	letter-spacing: -1px;
}

div#header h2 { /* The tagline thing */
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-weight: normal;
	color: #999;
	padding-left: 20px;
	margin-top: -15px;
}

#navigation {
font-family: "Lucida Grande", Tahoma, Arial, Helvetica, sans-serif;
float: right;
}

#navigation li {
display: inline;
padding-right: 20px;
font-size: 12px;
}

#navigation li a {
font-size: 12px;
color: #666;
font-weight: normal;
padding: 4px;
text-decoration: none;
}

#navigation li a:hover {
text-decoration: underline;
}

div#container {
text-align:left
}

div#content p, div#extra p, div#sidebar p {
font-family: "Lucida Grande", Tahoma, Arial, Helvetica, sans-serif;
font-size: 12px;
color: #444;
line-height:1.8em;
}

div#content h1, div#extra h1, div#sidebar h1 {
font-size: 16px;
font-weight: normal;
color: #FFBA27; 
text-decoration: none; 
padding: 3px 6px; 
background-color: #F3F3FA; 
border-bottom: 1px solid #F1F1F1; 
border-right: 1px solid #F1F1F1;
}

div#content h2 {
font-size: 14px;
font-weight: normal;
color: #FFCC27; 
text-decoration: none; 
padding: 3px 6px; 
border-bottom: 1px solid #F1F1F1; 
}

div#content h3 { 
font-family: "Lucida Grande", Tahoma, Arial, Helvetica, sans-serif;
font-size: 12px;
font-weight: bold;
color: #444;
margin: 0;
padding: 0;
}

#warnings { /* warnings and errors */
font-family: "Lucida Grande", Tahoma, Arial, Helvetica, sans-serif;
font-size: 12px;
color: #FF0000;
line-height:1.8em;
padding-left: 105px;
}

div#footer p {

margin:0;padding:5px 10px;
}

div#container {
width:700px;
margin:0 auto;
}

div#sidebar {
float:right;
width:330px;
padding-bottom: 10px;
}

div#extra {
float:left;
width:330px;
}

div#footer {
margin-top: 10px;
background-color: #FFBA27;
color: #FFF;
font-size: 12px;
font-family: Tahoma, Arial, Helvetica, sans-serif;
clear:both;
width:100%;
padding: 5px;
}

div#footer a, div#footer a:hover {
margin-top: 10px;
background-color: #FFBA27;
color: #FFF;
font-size: 12px;
font-family: Tahoma, Arial, Helvetica, sans-serif;
clear:both;
width:100%;
font-weight: bold;
text-decoration: none;
}

#login {
font-size: 12px;
font-family: Tahoma, Arial, Helvetica, sans-serif;
width:100%;
float: right;
text-align:right;     
}

#footer-right {
float: right;
display:inline;
}

/* odd items 1,3,5,7,... */
table tr.odd th,
.odd {
    background: #F5F5FC;
}

/* even items 2,4,6,8,... */
table tr.even th,
.even {
    background: #FFF;
}

/* odd table rows 1,3,5,7,... */
table tr.odd th,
table tr.odd,
table tr.even th,
table tr.even {
    text-align: left;
	font-size: 12px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	text-decoration: none;	
}

table caption,
table th,
table td {
    padding:            0.1em 0.5em 0.1em 0.5em;
    margin:             0.1em;
    vertical-align:     top;
}

table tr.head th,
.head {
    background: #F3F3FA;
    text-align: left;
	font-size: 12px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-weight: bold;
}
