/* A Free Design by Bryant Smith (bryantsmith.com) */

html, body {
text-align: center;
}
p {text-align: left;}

body {
	margin: 0;
	padding: 0;
	background: #697281;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #F1F5F8;
	background-color:#697281;
}
*
{
  margin: 0 auto 0 auto;
 text-align:left;}

#page
{
  margin: 0 auto 0 auto; 
  display: block; 
  height:auto;
  position: relative; 
  overflow: hidden; 
  background: #697281 url(background.png) repeat-y;
  width: 750px;
}

#header
{
background-image:url(header.png);
background-repeat:no-repeat;
height:156px;
width:750px;
}

#headerTitle
{
position:relative;
left:30px;
top:75px;
color:#FFFFFF;
text-align:left;
font-size:30px;
font-weight:bold;
font-family:Arial, Helvetica, sans-serif;
}

#headerSubText
{
position:relative;
left:30px;
top:72px;
color:#DEE6F8;
text-align:left;
font-size:16px;
font-weight:bold;
font-family:Arial, Helvetica, sans-serif;
}


#bar
{
background-image:url(bar.png);
background-repeat:no-repeat;
height:53px;
width:750px;
padding-bottom:15px;

}



#bar .navLink a
{
position:relative;
top:16px;
margin-left:35px;
color:#FFFFFF;
text-align:center;
font-size:15px;
float:left;

}

#bar .navLink a:hover
{
color:#E4EBFA;
}


.contentTitle
{
width:700px;
height:44px;
margin-top:20px;
margin-left:25px;
margin-right:25px;
}

.contentTitle h1
{
margin-left:21px;
padding-top:8px;
font-size:17px;
font-weight:bold;
color:#071027;
background-image:url(tab_back.png);
background-repeat:no-repeat;
}


.contentTitle h2
{
margin-left:21px;
padding-top:8px;
font-size:14px;
font-weight:bold;
color:#071027;
border-bottom: 1px solid #6666FF; 
}

.contentText
{
text-align: left;
width:680px;
padding-left:50px;
padding-right:30px;
font-size:13px;
color:#030712;
line-height:30px;
}

a
{
text-decoration:none;
color:#223F8D;
}

a:hover
{
color:#5478D6;
}


#footer {
width: 750px;
height:49px;
background: url(footer.png) no-repeat;
text-align:center;
font-size:9px;
color:#223F8D;
padding-top:36px;
}

html, body {
text-align: center;
}
p {text-align: left;}

table caption,
table th,
table td {
    padding:            0.1em 0.5em 0.1em 0.5em;
    margin:             0.1em;
    vertical-align:     top;
}

table tr.head th,
.head {
    background: #99CCFF;
    text-align: left;
	font-size: 12px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-weight: bold;
}
